*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(0deg,rgb(2, 15, 131),rgb(31, 1, 66));
    background-repeat: no-repeat;
    height: 100vh;
}
:root{
    --dark-blue: rgb(0, 0, 29);
}
.container{
    height: 350px;
    width: 300px;
    background-color: rgb(68, 68, 185);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: solid 2px var(--dark-blue);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 70px auto;
    color: white;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-color: transparent transparent var(--dark-blue) transparent;
}
.btns{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.btn{
    background: rgb(2, 2, 151);
    color: white;
    border-color: var(--dark-blue);
    border-radius: 20px;
    height: 30px;
    width: 120px;
}